# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.coverage
.pytest_cache/

# Environments
.env
.venv
env/
venv/

# OS-specific files
# macOS
.DS_Store

# Windows
Thumbs.db
